<script type="text/x-underscore-template" id="thumbnails-template">
    <li class="thumbnail span2">
        <% if(im != null){ %>
            <img src="http://cdn.mangaeden.com/mangasimg/<%= im %>" />
        <% } %>
        <a class="flag" href = "<%= '#/' + a %>" id="<%= i %>">
            <h5><%= t %></h5>
        </a>
    </li>
</script>

<script type="text/x-underscore-template" id="chapters-template">
    <div class="span4">
        <% if(image != null){ %>
            <img src="http://cdn.mangaeden.com/mangasimg/<%= image %>" />
        <% } %>
    </div>
    <div class="span7">
        <h3><%= title %></h3>
        <p><%= description %></p>
    </div>
    <div class="clearfix"></div>
    <div class="span12">
        <h4>Chapter List</h4>
        <ul>
        <% for(i = 0; i < chapters_len; i += 1){
            if(chapters[i][2] !== null){ %>
                <li>
                    <a href = "<%= window.location.hash + '/' + chapters[i][0] %>">
                        Chapter <%= chapters[i][0] %> - <%= chapters[i][2] %>
                    </a>
                </li>
            <% }
        }%>
        </ul>
    </div>
</script>

<script type="text/x-underscore-template" id="images-template">
    <div class="span10">
        <% for(var i = 0, j = images.length; i < j; i += 1){
            if(images[i][0] !== null) { %>
                <img width="100%" src="http://cdn.mangaeden.com/mangasimg/<%= images[i][0] %>" />
                <div class="clearfix"></div>
            <% }
        } %>
    </div>
</script>